<!doctype html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
	crossorigin="anonymous">
<title>University</title>
</head>

<body>

	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
		crossorigin="anonymous"></script>

	<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
		<a class="navbar-brand" th:href="@{/home}">University</a>


		<div class="collapse navbar-collapse" id="navbarColor02">

			<ul class="navbar-nav mr-auto">
				<li class="nav-item"><a class="nav-link" th:href="@{/students}">Students</a></li>
			</ul>
			<ul class="navbar-nav mr-auto">
				<li class="nav-item"><a class="nav-link" th:href="@{/groups}">Groups</a></li>
			</ul>
			<ul class="navbar-nav mr-auto">
				<li class="nav-item"><a class="nav-link"
					th:href="@{/lecturers}">Lecturers</a></li>
			</ul>
			<ul class="navbar-nav mr-auto">
				<li class="nav-item"><a class="nav-link" th:href="@{/courses}">Courses</a></li>
			</ul>
			<ul class="navbar-nav mr-auto">
				<li class="nav-item"><a class="nav-link"
					th:href="@{/classrooms}">Classrooms</a></li>
			</ul>
			<ul class="navbar-nav mr-auto">
				<li class="nav-item"><a class="nav-link" th:href="@{/lessons}">Schedule</a></li>
			</ul>


		</div>
	</nav>

	<img src="/resources/library.jpeg" class="img-fluid" alt="...">


</body>
</html>