<!doctype html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <title>Classrooms</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/additional-methods.min.js"></script>

    <style type="text/css">
        .error {
            color: #F00;
            background-color: #FFF;
        }
    </style>
<body>

<nav aria-label="Navigation bar" th:replace="layouts :: navbar"></nav>

<div class="container my-2">
    <h1>Classrooms</h1>

    <table aria-label="List of all classrooms" border="1" class="table table-striped table-responsive-md">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Number</th>
            <th scope="col">
                <div class="parent position-relative">
                    <button type="button" class="btn btn-success btn-sm position-absolute top-0 end-0"
                            data-bs-toggle="modal" data-bs-target="#addModal">Add
                    </button>
                </div>
                Actions
            </th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="classroom : ${classroomPage.content}">
            <td th:text="${classroom.id}">id</td>
            <td th:text="${classroom.name}">name</td>
            <td>
                <button type="button" class="btn btn-outline-secondary btn-sm" data-bs-toggle="modal"
                        th:attr="data-bs-target='#modalUpdate'+${classroom.id}">Edit
                </button>

                <button type="button" class="btn btn-outline-danger btn-sm" data-bs-toggle="modal"
                        th:attr="data-bs-target='#modalDelete'+${classroom.id}">Delete
                </button>

                <div class="modal fade text-body" th:attr="id='modalUpdate'+${classroom.id}" tabindex="-1"
                     aria-labelledby="modalUpdate" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="updateModalLabel">Edit classroom</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form th:method="PATCH" th:action="@{/classrooms/edit}"
                                      th:object="${classroom}">
                                    <div class="mb-3">
                                        <input type="hidden" class="form-control" id="id" name="id" th:value="*{id}">
                                        <label for="name" class="form-label">Number:</label>
                                        <input type="text" class="form-control" id="name" name="name"
                                               th:value="*{name}"/>
                                    </div>

                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close
                                        </button>
                                        <button type="submit" class="btn btn-success">Update classroom</button>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal fade text-body" th:attr="id='modalDelete'+${classroom.id}" tabindex="-1"
                     aria-labelledby="modalDelete" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Warning</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <div class="modal-body">

                                <form class="form-horizontal"
                                      th:action="@{/classrooms/delete/{id}(id=${classroom.id})}"
                                      th:method="DELETE">
                                    <input id="id" name="id" type="hidden" th:value="${classroom.id}"/>
                                    <div class="form-group">

                                        <div class="text-nowrap bd-highlight">
                                            <p
                                                    th:text="'Are you sure you want to delete classroom:' + ' ' + ${classroom.name} + ' ' + '?'"></p>
                                        </div>

                                    </div>

                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close
                                        </button>
                                        <button type="submit" class="btn btn-danger">Delete classroom</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </td>

        </tr>
        </tbody>
    </table>

    <div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addModalLabel">New classroom</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form th:method="POST" th:action="@{/classrooms}" th:object="${classroom}">
                        <div class="mb-3">
                            <label for="name" class="form-label">Number:</label>
                            <input type="text" th:field="*{name}" class="form-control" id="name">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-success">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <nav aria-label="Page navigation" class="paging">
        <ul class="pagination justify-content-center" th:if="${totalPages > 1}">
            <li class="page-item" th:classappend="${!classroomPage.hasPrevious()? 'disabled' : ''}">
                <a class="page-link" th:href="@{/classrooms(size=${classroomPage.size}, page=${currentPage - 1})}"
                   tabindex="-1">Previous</a>
            </li>

            <th:block th:each="number : ${pageNumbers}">
                <li class="page-item" th:classappend="${number == currentPage? 'active' : ''}">
                    <a class="page-link" th:href="@{/classrooms(size=${classroomPage.size}, page=${number})}"
                       th:text="${number}"></a>
                </li>
            </th:block>

            <li class="page-item" th:classappend="${!classroomPage.hasNext()? 'disabled' : ''}">
                <a class="page-link"
                   th:href="@{/classrooms(size=${classroomPage.size}, page=${currentPage + 1})}">Next</a>
            </li>
        </ul>
    </nav>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous"></script>

<script src="js/classroomsFormValidation.js"></script>
</body>
</html>

