<!doctype html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
<title>Courses</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

</head>

<body>

    <nav aria-label="Navigation bar" th:replace="layouts :: navbar"></nav>

    <div class="container my-2">
        <h1>Courses</h1>

        <table aria-label="List of all courses" border="1" class="table table-striped table-responsive-md">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                    <th scope="col">
                        <div class="parent position-relative">
                            <button type="button" class="btn btn-success btn-sm position-absolute top-0 end-0"
                                data-bs-toggle="modal" data-bs-target="#addModal">Add</button>
                        </div>
                        Actions
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="course : ${coursePage.content}">
                    <td th:text="${course.id}">id</td>
                    <td th:text="${course.name}">name</td>
                    <td th:text="${course.description}">description</td>
                    <td>
                        <button type="button" class="btn btn-outline-secondary btn-sm" data-bs-toggle="modal"
                            th:attr="data-bs-target='#modalUpdate'+${course.id}">Edit</button>

                        <button type="button" class="btn btn-outline-danger btn-sm" data-bs-toggle="modal"
                            th:attr="data-bs-target='#modalDelete'+${course.id}">Delete</button>

                        <div class="modal fade text-body" th:attr="id='modalUpdate'+${course.id}" tabindex="-1"
                            aria-labelledby="modalUpdate" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="updateModalLabel">Edit course</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <form th:method="PATCH" th:action="@{/courses/edit/{id}(id=${course.id})}"
                                            th:object="${course}">
                                            <div class="mb-3">
                                                <label for="name" class="form-label">Name:</label>
                                                <input type="text" class="form-control" id="name" name="name"
                                                    th:value="*{name}" />
                                                <label for="description" class="form-label">Description:</label>
                                                <input type="text" class="form-control" id="description"
                                                    name="description" th:value="*{description}" />
                                            </div>

                                            <label for="groupsList">Groups studying this course:</label>
                                            <ul class="list-group" id="groupsList">
                                                <li class="list-group-item" th:each="group : *{groups}"
                                                    th:text="${group?.name}"></li>
                                            </ul>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                <button type="submit" class="btn btn-success">Update course</button>
                                            </div>
                                        </form>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="modal fade text-body" th:attr="id='modalDelete'+${course.id}" tabindex="-1"
                            aria-labelledby="modalDelete" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Warning</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">

                                        <form class="form-horizontal"
                                            th:action="@{/courses/delete/{id}(id=${course.id})}" th:method="DELETE">
                                            <input id="id" name="id" type="hidden" th:value="${course.id}" />
                                            <div class="form-group">

                                                <div class="text-nowrap bd-highlight">
                                                    <p
                                                        th:text="'Are you sure you want to delete course:' + ' ' + ${course.name} + ' ' + '?'"></p>
                                                </div>

                                            </div>

                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                <button type="submit" class="btn btn-danger">Delete course</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </td>

                </tr>
            </tbody>
        </table>

        <div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addModalLabel">New course</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form th:method="POST" th:action="@{/courses}" th:object="${course}">
                            <div class="mb-3">
                                <label for="name" class="form-label">Name:</label>
                                <input type="text" th:field="*{name}" class="form-control" id="name">
                                <label for="description" class="form-label">Description:</label>
                                <input type="text" class="form-control" id="description" name="description"
                                    th:value="*{description}" />
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-success">Submit</button>
                            </div>
                        </form>
                    </div>


                </div>
            </div>
        </div>

        <nav aria-label="Page navigation" class="paging">
            <ul class="pagination justify-content-center" th:if="${totalPages > 1}">
                <li class="page-item" th:classappend="${!coursePage.hasPrevious()? 'disabled' : ''}">
                    <a class="page-link" th:href="@{/courses(size=${coursePage.size}, page=${currentPage - 1})}"
                        tabindex="-1">Previous</a>
                </li>

                <th:block th:each="number : ${pageNumbers}">
                    <li class="page-item" th:classappend="${number == currentPage? 'active' : ''}">
                        <a class="page-link" th:href="@{/courses(size=${coursePage.size}, page=${number})}"
                            th:text="${number}"></a>
                    </li>

                </th:block>

                <li class="page-item" th:classappend="${!coursePage.hasNext()? 'disabled' : ''}">
                    <a class="page-link" th:href="@{/courses(size=${coursePage.size}, page=${currentPage + 1})}">Next</a>
                </li>
            </ul>
        </nav>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
</body>
</html>
